<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer9.Properties.Settings.db_a75fd2_221es6341ConnectionString"
            connectionString="Data Source=SQL5080.site4now.net;Initial Catalog=db_a75fd2_221es6341;User ID=db_a75fd2_221es6341_admin;Password=mvH3Naav"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>